@import "tailwindcss";

@keyframes lt-scroll-rtl {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@keyframes lt-scroll-ltr {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
